@model ITestApp.Web.Models.TakeTestViewModels.IndexViewModel

@{
    ViewData["Title"] = "Model.Title";
    int questionCounter = 1;
}


<h2>@Model.TestName</h2>
<hr />
<div class="page-header">
    <h3>Category: <small>@Model.CategoryName</small></h3>
</div>

<hr />
<div class="panel panel-default">
    @foreach (var item in Model.Questions)
    {
        <!-- Default panel contents -->
        <div class="panel-heading"><h4><b>@questionCounter. Question</b></h4></div>
        <div class="panel-body">
            @{
                int qCounter = 1;
            }
            <p>@item.Content</p>
            <div class="row-xs-8">
                <form action="" data-toggle="validator">
                    <div class="">
                        @foreach (var ans in item.Answers)
                        {

                            <div class="form-group has-feedback">
                                <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="test" value="@ans.Id" />
                                    </span>
                                    <div class="form-control form-control-static">
                                        @ans.Content
                                    </div>
                                    <span class="glyphicon form-control-feedback "></span>
                                </label>
                            </div>

                        }
                    </div>
                </form>
            </div>
        </div>
        questionCounter++;
    }
</div>







