@model ITestApp.Web.Models.DashboardViewModels.DashboardViewModel
@{
    ViewData["Title"] = "All";
    var i = 0;
    var j = 0;
    string activeTab;
}
<h1>Tests</h1>
<div class="category-tabs">
    <ul class="nav nav-tabs nav-justified">
        @foreach (var category in Model.Categories)
        {
            if (i == 0)
            {
                <li class="nav-item active">
                    <a class="nav-link in active" data-toggle="tab" href="#@category.Id">@category.Name</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#@category.Id">@category.Name</a>
                </li>
            }
            i++;

        }
    </ul>

    <div class="tab-content">
        @foreach (var category in Model.Categories)
        {
            if (j == 0)
            {
                activeTab = "tab-pane fade in active";

            }
            else
            {
                activeTab = "tab-pane fade";
            }
            <div id="@category.Id" class="@activeTab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Test Id</th>
                            <th scope="col">Title</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var test in category.Tests.Where(t => t.Status != "Draft"))
                        {
                            var userTest = Model.UserTests.FirstOrDefault(ut => ut.TestId == test.Id);
                            <tr>
                                <th scope="row" id="@test.Id">@test.Id</th>
                                <td>@test.Title</td>
                                @if (userTest != null)
                                {
                                    if (userTest.SubmittedOn == null)
                                    {
                                        if (userTest.TimeExpire > DateTime.Now)
                                        {
                                            <td>
                                                <p><a class="btn btn-success btn-sm" role="button" asp-controller="TakeTest" asp-action="Index" asp-route-id="@test.Id" style="float: right">Continue</a></p>

                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <p><a class="btn btn-primary btn-sm" role="button" disabled="disabled" style="float: right">Submitted</a></p>

                                            </td>
                                        }

                                    }
                                    else
                                    {
                                        <td>
                                            <p><a class="btn btn-primary btn-sm" role="button" disabled="disabled" style="float: right">Submitted</a></p>

                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        <p><a class="btn btn-primary btn-sm" role="button" asp-controller="TakeTest" asp-action="Index" asp-route-id="@test.Id" style="float: right">Begin Test</a></p>

                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            j++;
        }
    </div>
</div>
