@model ITestApp.Web.Models.DashboardViewModels.DashboardViewModel
@{
    ViewData["Title"] = "All";
    var i = 0;
    var j = 0;
    string activeTab;
}
<h1>Tests</h1>
<div class="category-tabs">
    <ul class="nav nav-tabs nav-justified">
        @foreach (var category in Model.Categories)
        {
            if (i == 0)
            {
                <li class="nav-item active">
                    <a class="nav-link in active" data-toggle="tab" href="#@category.Id">@category.Name</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#@category.Id">@category.Name</a>
                </li>
            }
            i++;

        }
    </ul>

    <div class="tab-content">
        @foreach (var category in Model.Categories)
        {
            if (j == 0)
            {
                activeTab = "tab-pane fade in active";

            }
            else
            {
                activeTab = "tab-pane fade";
            }
            <div id="@category.Id" class="@activeTab">
                @if (category.Test == null)
                {
                    <div class="user-test">
                        <p>No test to display!</p>
                    </div>
                }
                else
                {
                    <div class="user-test">
                        <p>@category.Test.Title</p>
                    </div>
                }

            </div>
            j++;
        }
    </div>
</div>
